.bookloc{
  &-wrapper {
    position: absolute;
    top: 78px;
    height: calc(100vh - (78px));
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 20px 30px;
    border: 5px solid $main-grey;
    border-radius: 0px;
    box-sizing: border-box;
  }
  &-head{
    &-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $main-grey;
    }
    // Arrow returning to the results
    &__arrow{
      margin-right: 5px;
    }
    &__text{
      &-res{
        display: initial;
      }
    }
    &__btn{
      &-backtores{
        position:absolute;
        left: 20px;
        top: 15px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 1em;
        font-family: "Roboto Condensed", sans-serif;
        &:hover{
          color: $main-gold;
        }
      }
    }
    &__title{
      padding: 0px 20px 20px 20px;
      font-size: 1.5em;
      text-align: left;
    }
  }
  &-spot{
    &__ovale-map{
      width: 100%;
      max-width: 400px;
      
    }
    &__entry{
      font-size: 1.3em;
    }
  }
  &-infos{
    &-wrapper{
      border-top: 2px solid $main-grey;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 10px;
      padding-top: 10px;
    }
    &__title{
      font-size: 1.3em;
      font-weight: 300;
    }
  }
}

@media only screen and (max-device-width: 440px) {
  .bookloc{
    &-wrapper{
    top:68px;
      height: calc(100vh - 68px);
      overflow: scroll;
    }
    &-head{
      &__text{
        &-res{
          display: none;
        }
      }
    }
  }
}