.book-item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    transition: all 150ms ease-out;
    border-left: 4px solid black;
    &:hover {
        transition: all 50ms ease-out;
        color: $main-gold;
    }
    &-infos {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 10px;
    }
    &__title {
        text-align: left;
        font-size: 1.2em;
    }
    &__author {
        text-align: left;
        font-size: 1.1em;
        color: $main-gold;
    }
    &__cote {
        font-size: 1.2em;
        color: $main-violet;
    }
}

@media only screen and (max-device-width: 440px) {
    .book-item {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        gap: 10px;
        transition: all 150ms ease-out;
        border-left: 4px solid black;
        &:hover {
            transition: all 50ms ease-out;
            color: $main-gold;
        }
        &-infos {
            display: flex;
            flex: 1;
            justify-content: space-between;
            gap: 10px;
        }
        &__title {
            text-align: left;
            font-size: 1.2em;
        }
        &__author {
            text-align: left;
            font-size: 1.1em;
            color: $main-gold;
        }
        &__cote {
            font-size: 1.2em;
            color: $main-violet;
        }
    }
    
}