.results-list__title {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  .results-list__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0;
  }
  
  @media only screen and (max-device-width: 440px) {  
      .results-list__title {
          font-size: 1.4em;
          font-weight: 600;
          margin-bottom: 15px;
        }
    } 