/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.searchBar {
  margin-bottom: -1px;
  width: 80%;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #777777;
  border-radius: 0px;
  height: 55px;
  box-sizing: border-box;
}

.search-field::placeholder {
  font-size: 0.8em;
  color: #777777;
}

.search-field {
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  height: 55px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background: none;
  border: none;
  font-size: 1.6em;
  color: #2b2826;
  box-sizing: border-box;
}

.search-field:focus {
  background: none;
  border: none;
  outline: none;
}

.search-btn {
  background: transparent;
  border: none;
  border-radius: 5px;
  height: 45px;
  color: #777777;
  margin-right: 10px;
  padding: 0 12px;
}

@media only screen and (max-device-width: 440px) {
  .searchBar {
    width: 90%;
  }
}
.pagination {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  padding: 0.2em 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.pagination-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.pagination-btn:hover {
  color: #ae8a3e;
}
.pagination-index {
  font-weight: 100;
  font-size: 1em;
}

.pag-index__current-page {
  font-size: 1em;
  font-weight: 500;
}

@media only screen and (max-device-width: 440px) {
  .pagination {
    padding: 0.1em;
  }
}
.results-list {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
  padding: 15px 20px;
  border-radius: 0px;
  box-sizing: border-box;
}
.results-list__head {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.results-list__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0px 10px 0px;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: -15px;
}

@media only screen and (max-device-width: 440px) {
  .results-list__title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .results-list__list {
    margin-bottom: -15px;
  }
}
.book-item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px;
  transition: all 150ms ease-out;
  border-left: 4px solid black;
}
.book-item:hover {
  transition: all 50ms ease-out;
  color: #ae8a3e;
}
.book-item-infos {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}
.book-item__title {
  text-align: left;
  font-size: 1.2em;
}
.book-item__author {
  text-align: left;
  font-size: 1.1em;
  color: #ae8a3e;
}
.book-item__cote {
  font-size: 1.2em;
  color: #88408e;
}

@media only screen and (max-device-width: 440px) {
  .book-item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    transition: all 150ms ease-out;
    border-left: 4px solid black;
  }
  .book-item:hover {
    transition: all 50ms ease-out;
    color: #ae8a3e;
  }
  .book-item-infos {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
  }
  .book-item__title {
    text-align: left;
    font-size: 1.2em;
  }
  .book-item__author {
    text-align: left;
    font-size: 1.1em;
    color: #ae8a3e;
  }
  .book-item__cote {
    font-size: 1.2em;
    color: #88408e;
  }
}
.bookloc-wrapper {
  position: absolute;
  margin-top: 78px;
  height: calc(100vh - 147px);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 20px 30px;
  border: 5px solid #777777;
  border-radius: 0px;
  box-sizing: border-box;
}
.bookloc-head-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #777777;
}
.bookloc-head__arrow {
  margin-right: 5px;
}
.bookloc-head__text-res {
  display: initial;
}
.bookloc-head__btn-backtores {
  position: absolute;
  top: 15px;
  left: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
}
.bookloc-head__btn-backtores:hover {
  color: #ae8a3e;
}
.bookloc-head__title {
  padding: 0px 20px 20px 20px;
  font-size: 1.5em;
  text-align: left;
}
.bookloc-spot__ovale-map {
  width: 100%;
  max-width: 400px;
}
.bookloc-spot__entry {
  font-size: 1.3em;
}
.bookloc-infos-wrapper {
  border-top: 2px solid #777777;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding-top: 10px;
}
.bookloc-infos__title {
  font-size: 1.3em;
  font-weight: 300;
}

@media only screen and (max-device-width: 440px) {
  .bookloc-wrapper {
    margin-top: 68px;
    height: calc(100vh - 68px);
    overflow: scroll;
  }
  .bookloc-head__text-res {
    display: none;
  }
}
/* FONTS */
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Roboto Condensed', sans-serif;  
*/
#root {
  margin-top: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  font-family: "DM Serif Display", serif;
}

.light-ital {
  font-style: italic;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

body {
  background: no-repeat url("../public/body-bg.png") fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.init {
  height: 100vh;
}

.home-btn {
  width: 100vw;
  font-size: 3em;
  font-weight: bold;
  box-shadow: 0 2px 10px #777777;
}

.fren {
  position: absolute;
  top: 45px;
  right: 40px;
  font-size: 0.5em;
  font-weight: 100;
}

.fren:hover {
  background-color: main;
}

.wrapper {
  background: #fff;
  padding: 15px 20px;
  border-radius: 0px;
  box-sizing: border-box;
}

.home-infos {
  margin-bottom: 20px;
  color: #777777;
}

.mlicon {
  font-size: 25px;
}

.no-result {
  margin-top: 20px;
}

.no-result__title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 25px;
}

footer {
  box-sizing: border-box;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 2px 10px #777777;
}

.disclaimer {
  font-size: 1em;
  margin-bottom: 7px;
}

.bnf-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bnf-link {
  text-decoration: none;
  color: #ae8a3e;
}

.bnf-link:hover {
  color: #88408e;
}

@media only screen and (max-device-width: 440px) {
  .wrapper {
    padding: 15px 25px;
  }
  .home-btn {
    font-size: 2.4em;
  }
  .fren {
    top: 35px;
    right: 20px;
    font-size: 0.4em;
  }
  footer {
    padding: 20px 35px;
  }
  .disclaimer {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
